@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
/*1переменые */
/*постоянные размеры*/
/*цвет*/
/*шрифт*/
/*Гланый контейнер*/
.container {
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

/*Colors and type*/
.colors_type {
  margin-bottom: 200px;
}

.logotip {
  margin: 30px 0 0 30px;
}

/*средний главный блок*/
.main_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10em;
}

/*левый блок*/
.left_block {
  margin: 0 0 0 150px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 320px;
          flex: 1 1 320px;
  /*Логотип*/
}

/*стили прямоугольников*/
.colors__items {
  width: 70px;
  height: 70px;
  margin: 20px 0 0 0;
  border-radius: 6px;
}

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colors ._1 {
  background: #1f2041;
}

.colors ._2 {
  background: rgba(31, 32, 65, 0.749);
}

.colors ._3 {
  background: rgba(31, 32, 65, 0.502);
}

.colors ._4 {
  background: rgba(31, 32, 65, 0.25);
}

.colors ._5 {
  background: rgba(31, 32, 65, 0.05);
}

.colors ._6 {
  background: #bc9cff;
}

.colors ._7 {
  background: #6fcf97;
}

.colors .colors__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 0 40px;
}

.colors .colors__title .bold {
  font: 700 19px/27.79px Montserrat, salf-serif;
}

.colors .colors_title span {
  font: 400 19px/27.79px Montserrat, salf-serif;
}

/*правый блок*/
.right_block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 320px;
          flex: 1 1 320px;
}

/*размеры шрифта*/
.type__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 35px;
}

.type__items .type__title-1 {
  font: 400 24px/27.79px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
}

.type__items .type__title-2 {
  font: 400 19px/23.16px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30px;
          flex: 0 1 30px;
}

.type__items .type__title-3 {
  font: 400 12px/14.63px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.25);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30px;
          flex: 0 1 30px;
  text-align: right;
}

.type__items .type__title-4 {
  font: 400 14px/24px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30px;
          flex: 0 1 30px;
}

.type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.type .__1 span {
  font: 700 24px/29.26px Montserrat, salf-serif;
  color: #1f2041;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  margin-left: 30px;
}

.type .__2 span {
  font: 700 19px/23.16px Montserrat, salf-serif;
  color: #1f2041;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  margin-left: 30px;
}

.type .__3 span {
  font: 700 12px/14.63px Montserrat, salf-serif;
  color: #1f2041;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  text-transform: uppercase;
  margin-left: 30px;
}

.type .__4 span {
  font: 400 14px/24px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.75);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  margin-left: 23px;
}

/*form elements*/
/*инпуты*/
.elements {
  margin: 85px 0 0 140px;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.input__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}

.input__items .input__text {
  padding: 12px;
  width: 92%;
  color: rgba(31, 32, 65, 0.25);
  font: 400 14px/18px Montserrat, salf-serif;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.input__items .input__select {
  position: relative;
}

.input__items .-medium {
  width: 76%;
}

/*стрелочка вниз*/
.input__arrow {
  position: absolute;
  width: 7px;
  top: 15px;
  height: 7px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  border-top: 2px solid rgba(31, 32, 65, 0.502);
  border-right: 2px solid rgba(31, 32, 65, 0.502);
}

.input__arrow .input__arrow-btn {
  border: none;
  background: none;
}

.input__arrow-right {
  position: absolute;
  left: 240px;
  top: 12px;
  width: 30px;
  background: url(/images/arrow_forward.svg) no-repeat;
}

.input__arrow-right .input__arrow-btn {
  border: none;
  background: none;
}

.input__arrow._btn_move {
  left: 130px;
}

.input__arrow._btn__move {
  left: 285px;
}

.input__arrow._btn-move {
  left: 245px;
}

/*селекторы*/
.block_input-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
  margin-right: 18px;
}

.select .-small {
  padding: 12px;
  width: 83%;
  color: rgba(31, 32, 65, 0.25);
  font: 400 14px/18px Montserrat, salf-serif;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*средний блок*/
.middle_block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 320px;
          flex: 1 1 320px;
}

/*checkbox*/
.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font: 400 14px/18px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.502);
}

.checkbox__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}

.checkbox__items .checkbox__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(31, 32, 65, 0.502);
  text-transform: uppercase;
  font: 400 12px/14.63px Montserrat, salf-serif;
}

.checkbox__items .checkbox__title .bold {
  font: 700 12px/14.63px Montserrat, salf-serif;
  color: #1f2041;
}

.checkbox__checkbox-btn {
  width: 0;
  height: 0;
}

.checkbox__checkbox-btn + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.3em;
  color: rgba(31, 32, 65, 0.502);
}

.checkbox__checkbox-btn:checked + label > span {
  border: 1px solid #bc9cff;
  -webkit-animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
          animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}

.checkbox__checkbox-btn + label > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 1px solid #9E9E9E;
  border-radius: 4px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.checkbox__checkbox-btn:checked + label > span:before {
  content: url(/images/Vector.svg);
  position: absolute;
  color: #bc9cff;
}

/*radio buttons*/
.__radio {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.radio {
  margin: 0.5em;
  margin-right: 1em;
  font: 400 14px/24px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.502);
}

.radio .checkbox__radio {
  position: absolute;
  display: none;
}

.radio .checkbox__radio + label::before {
  content: '';
  border-radius: 100%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  top: 0.1em;
  position: relative;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}

.radio .checkbox__radio:checked + label::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-box-shadow: inset 0 0 0 4px white;
          box-shadow: inset 0 0 0 4px white;
}

/*toogle buttons*/
.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toggle .toggle__items {
  position: relative;
  display: inline-block;
  width: 3.75em;
  margin-bottom: 1.1em;
  height: 1.8em;
}

.toggle .toggle__items .checkbox__toggle {
  display: none;
}

.toggle .toggle__items .checkbox__toggle + label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 34px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle .toggle__items .checkbox__toggle + label::before {
  position: absolute;
  content: "";
  height: 1.1em;
  width: 1.1em;
  border-radius: 50%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  left: 2px;
  bottom: 3px;
  background-color: rgba(31, 32, 65, 0.25);
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle .toggle__items .checkbox__toggle:checked + label {
  border: 1px solid #bc9cff;
}

.toggle .toggle__items .checkbox__toggle:checked + label::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.toggle span {
  margin-left: 1em;
}

/*like buttons*/
._likebuttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.likebuttons_items {
  position: relative;
  margin-right: 1.2em;
}

.likebuttons_items .likebuttons_btn {
  display: none;
}

.likebuttons_items .likebuttons_btn + label {
  border-radius: 26px;
  width: 4em;
  display: inline-block;
  position: relative;
  height: 2.1em;
  color: rgba(31, 32, 65, 0.25);
  background: #fff;
  border: 2px solid rgba(31, 32, 65, 0.25);
}

.likebuttons_items .likebuttons_btn + label::before {
  content: '\2661';
  position: absolute;
  left: 22%;
  top: 16%;
}

.likebuttons_items .likebuttons_btn:checked + label {
  border: 2px solid #bc9cff;
}

.likebuttons_items .likebuttons_btn:checked + label::before {
  content: '\2764';
  color: #bc9cff;
}

.likebuttons_items .likebuttons_btn + label > span {
  position: absolute;
  left: 52%;
  top: 17%;
}

.likebuttons_items .likebuttons_btn:checked + label > span {
  color: #bc9cff;
}

/*rating buttons*/
.ratebuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ratebuttons .ratebuttons_items {
  margin-right: 1.2em;
}

.ratebuttons .ratebuttons_items .ratebutton_btn {
  display: none;
}

.ratebuttons .ratebuttons_items .ratebutton_btn + label {
  float: right;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: #bc9cff;
  text-shadow: 1px 1px #bbb;
}

.ratebuttons .ratebuttons_items .ratebutton_btn + label:before {
  content: '\2606';
}

.ratebuttons .ratebuttons_items .ratebutton_btn:checked ~ label::before {
  content: '\2605';
  color: #bc9cff;
}

.ratebuttons .ratebuttons_items .ratebutton_btn + label:active {
  position: relative;
}

/*right block*/
/*range slider*/
.range__slider .range__slider-btn {
  width: 100%;
}

.range__slider::-ms-track {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

/*buttons*/
.buttons__items {
  position: relative;
}

.buttons__items .buttons__btn {
  padding: 1.8em;
  border-radius: 2.3em;
  font: 700 0.6em/0.9em Montserrat, salf-serif;
  text-transform: uppercase;
  color: white;
}

.buttons__items > ._btn-buttons {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: 0;
}

.buttons__items > ._btn-buttons + .btn-two {
  opacity: 0.5;
  margin-left: 1.2em;
}

.buttons__items > ._btn-buttons_one {
  border: 1px solid #bc9cff;
  background: none;
  margin-top: 1.8em;
  color: #bc9cff;
}

.buttons__items > ._btn-buttons_one + .btn-four {
  border: 1px solid rgba(187, 156, 255, 0.502);
  margin-left: 1.2em;
}

.buttons__items > ._btn-buttons_two {
  border: none;
  background: none;
  margin-top: 1.8em;
  color: #bc9cff;
}

.buttons__items > ._btn-buttons_two + .btn-sex {
  color: rgba(31, 32, 65, 0.5);
}

.buttons__items > ._btn-buttons_three {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  width: 100%;
}

.buttons__items > ._btn-buttons_three + .btn-seven {
  color: rgba(31, 32, 65, 0.5);
}

.buttons__items > ._btn-buttons_three + .buttons__btn-arrow::before {
  position: absolute;
  content: url(/images/arrow_forwrd.svg);
  left: 287px;
  top: 11px;
}

/*pagination*/
.input__pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.input__pagination ul > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40px;
          flex: 0 1 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
}

.input__pagination ul > li > a {
  font: 700 12px/14.63px Montserrat, salf-serif;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.502);
}

.input__pagination ul > li > a > span::before {
  content: url(/images/arrow_forwrd.svg);
}

.input__pagination ul > li:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.input__pagination ul > li:hover > a:hover {
  color: white;
}

.input__pagination ul > li:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.input__pagination ul > li:first-child:first-child > a {
  color: white;
}

.input__pagination ul > li:last-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.input__pagination .bold {
  font: 400 0.8em/1.2em Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.749);
}

/*middle_block part2*/
/*input select*/
.select_items {
  border: 1px solid rgba(31, 32, 65, 0.502);
  border-radius: 4px;
}

.select_items .select-btn {
  border: none;
}

div.input__points-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.input__points-select .input__points-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 195px;
          flex: 0 0 195px;
  padding: 10px;
  text-transform: uppercase;
}

.input__points-select .input__points-title span {
  font: 700 12px/14.63px Montserrat, salf-serif;
  margin-bottom: 28px;
}

.input__points-select .input__points-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.input__points-select .input__points-btn > .btn__ {
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: white;
  height: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  border-radius: 50px;
}

.input__points-select .input__points-btn > .title_2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  border: none;
  padding-top: 5px;
  text-align: center;
}

.input__points-select .input__points-btn > .title_3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  border: none;
  padding-top: 5px;
  text-align: center;
}

.input__points-select .input__points-btn > .title_1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  border: none;
  padding-top: 5px;
  text-align: center;
}

.input__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(31, 32, 65, 0.502);
  text-transform: uppercase;
  font: 400 12px/14.63px Montserrat, salf-serif;
}

.input__title .bold {
  font: 700 12px/14.63px Montserrat, salf-serif;
  color: #1f2041;
}

a.btn_7 {
  color: #bc9cff;
  font: 700 12px/14.63px Montserrat, salf-serif;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  margin-top: 30px;
}

/*всякие штуки*/
.checkbox__btn .bold {
  color: #1f2041;
  font: 700 14px/1.1em Montserrat, salf-serif;
}

.checkbox__btn .checkbox__text {
  font: 400 12px/1em Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.502);
  width: 71%;
  margin-left: 2.8em;
}

.input__select ul > li {
  list-style-type: none;
  font: 400 14px/24px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.749);
}

.input__select ul > li::before {
  content: '\25CF';
  color: rgba(31, 32, 65, 0.25);
  margin-right: 0.6em;
}

/*emodji icon*/
.smail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2em;
}

.smail .smail__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
}

.smail .smail__item > .smail__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.smail .smail__item .smail__text {
  font: 400 14px/24px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.749);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 10px 20px;
}

.smail .smail__item .smail__text > .bold {
  font: 700 14px/24px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.749);
}

.smail .smail__item i {
  font-size: 3em;
  color: #bc9cff;
}

.smail .smail__item hr {
  height: 1px;
  border: none;
  background: rgba(31, 32, 65, 0.05);
}

/*feedback*/
.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback .feedback__item > .feedback__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 400 14px/24px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.749);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback .feedback__item > .feedback__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 400 14px/24px Montserrat, salf-serif;
  color: rgba(31, 32, 65, 0.749);
}

.-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.-text > .bold {
  font-weight: 700;
}

.__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=index.css.map */