@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

/*1переменые */
/*постоянные размеры*/
$rec_width: 70px;
$rec_height: 70px;
/*цвет*/
$colorDS100: rgb(31, 32, 65);
$colorDS70: rgba(31, 32, 65, 0.749);
$colorDS50: rgba(31, 32, 65, 0.502);
$colorDS25: rgba(31, 32, 65, 0.25);
$colorDS5: rgba(31, 32, 65, 0.05);
$colorP: rgb(188, 156, 255);
$colorG: rgb(111, 207, 151);
/*шрифт*/
$font-p: 19px/27.79px Montserrat,
salf-serif;
$font-h3: 12px/14.63px Montserrat,
salf-serif;
$font-fam: Montserrat,
salf-serif;
$colorGp: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$colorGg: linear-gradient(180deg, #6FCF97  0%, #66D2EA  100%);







/*Гланый контейнер*/
.container {
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 1920px) {
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

/*Colors and type*/
.colors_type {
    margin-bottom: 200px;

}

.logotip {
    margin: 30px 0 0 30px;
}

/*средний главный блок*/
.main_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;
}

/*левый блок*/
.left_block {
    margin: 0 0 0 150px;
    flex: 1 1 320px;
    /*Логотип*/

}

/*стили прямоугольников*/
.colors__items {
    width: $rec_width;
    height: $rec_height;
    margin: 20px 0 0 0;
    border-radius: 6px;

}

.colors {
    display: flex;
    align-items: center;

    ._1 {
        background: $colorDS100
    }

    ._2 {
        background: $colorDS70
    }

    ._3 {
        background: $colorDS50
    }

    ._4 {
        background: $colorDS25
    }

    ._5 {
        background: $colorDS5
    }

    ._6 {
        background: $colorP
    }

    ._7 {
        background: $colorG
    }

    .colors__title {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 40px;

        .bold {
            font: 700 $font-p;
        }
    }

    .colors_title span {
        font: 400 $font-p;
    }
}

/*правый блок*/
.right_block {
    flex: 1 1 320px
}

/*размеры шрифта*/

.type__items {
    display: flex;
    align-items: baseline;
    margin-bottom: 35px;

    .type__title-1 {
        font: 400 24px/27.79px $font-fam;
        color: rgba(31, 32, 65, 0.25);
        text-align: right;
    }

    .type__title-2 {
        font: 400 19px/23.16px $font-fam;
        color: rgba(31, 32, 65, 0.25);
        text-align: right;
        flex: 0 1 30px;
    }

    .type__title-3 {
        font: 400 $font-h3;
        color: rgba(31, 32, 65, 0.25);
        flex: 0 1 30px;
        text-align: right;
    }

    .type__title-4 {
        font: 400 14px/24px $font-fam;
        color: rgba(31, 32, 65, 0.25);
        text-align: right;
        flex: 0 1 30px;
    }

}

.type {
    display: flex;
    flex-direction: column;

    .__1 span {
        font: 700 24px/29.26px $font-fam;
        color: rgb(31, 32, 65);
        flex: 0 0 370px;
        margin-left: 30px;

    }

    .__2 span {
        font: 700 19px/23.16px $font-fam;
        color: rgb(31, 32, 65);
        flex: 0 0 370px;
        margin-left: 30px;

    }

    .__3 span {
        font: 700 $font-h3;
        color: rgb(31, 32, 65);
        flex: 0 0 370px;
        text-transform: uppercase;
        margin-left: 30px;

    }

    .__4 span {
        font: 400 14px/24px $font-fam;
        color: rgba(31, 32, 65, 0.75);
        flex: 0 0 370px;
        margin-left: 23px;
    }

}

/*form elements*/
/*инпуты*/
.elements {
    margin: 85px 0 0 140px;
}

.input {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.input__items {
    flex: 0 0 320px;

    .input__text {
        padding: 12px;
        width: 92%;
        color: $colorDS25;
        font: 400 14px/18px $font-fam;
        border: 1px solid $colorDS25;
        border-radius: 4px;

    }

    .input__select {
        position: relative;

    }

    .-medium {
        width: 76%;
    }

}

/*стрелочка вниз*/
.input__arrow {
    position: absolute;
    width: 7px;
    top: 15px;
    height: 7px;
    transform: rotate(135deg);
    border-top: 2px solid $colorDS50;
    border-right: 2px solid $colorDS50;

    .input__arrow-btn {
        border: none;
        background: none;

    }

}

.input__arrow-right {
    position: absolute;
    left: 240px;
    top: 12px;
    width: 30px;
    background: url(/images/arrow_forward.svg) no-repeat;

    .input__arrow-btn {
        border: none;
        background: none;

    }
}

.input__arrow._btn_move {
    left: 130px;
}

.input__arrow._btn__move {
    left: 285px;
}

.input__arrow._btn-move {
    left: 245px;

}


/*селекторы*/
.block_input-select {
    display: flex;
}

.select {
    flex: 0 1 150px;
    margin-right: 18px;

    .-small {
        padding: 12px;
        width: 83%;
        color: $colorDS25;
        font: 400 14px/18px $font-fam;
        border: 1px solid $colorDS25;
        border-radius: 4px;
        appearance: none;
    }

}


/*средний блок*/
.middle_block {
    flex: 1 1 320px;
}

/*checkbox*/

.checkbox {
    display: flex;
    margin-bottom: 20px;
    font: 400 14px/18px $font-fam;
    color: $colorDS50
}

.checkbox__btn {
    display: flex;
    flex-direction: column;
}

.checkbox__items {
    flex: 0 0 320px;

    .checkbox__title {
        display: flex;
        color: $colorDS50;
        text-transform: uppercase;
        font: 400 $font-h3;

        .bold {
            font: 700 $font-h3;
            color: $colorDS100;
        }
    }

}

.checkbox__checkbox-btn {
    width: 0;
    height: 0;
}

.checkbox__checkbox-btn+label {
    position: relative;
    display: flex;
    margin: 0.3em;
    color: $colorDS50;

}

.checkbox__checkbox-btn:checked+label>span {
    border: 1px solid $colorP;
    animation: shrink-bounce 200ms cubic-bezier(.4, .0, .23, 1);

}

.checkbox__checkbox-btn+label>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    transition: all 250ms cubic-bezier(.4, .0, .23, 1);
}

.checkbox__checkbox-btn:checked+label>span:before {
    content: url(/images/Vector.svg);
    position: absolute;
    color: $colorP;
}

/*radio buttons*/
.__radio {
    flex-direction: row;
}

.radio {
    margin: 0.5em;
    margin-right: 1em;
    font: 400 14px/24px $font-fam;
    color: $colorDS50;

    .checkbox__radio {
        position: absolute;
        display: none;

        +label::before {
            content: '';
            border-radius: 100%;
            border: 1px solid $colorDS25;
            display: inline-block;
            width: 1.4em;
            height: 1.4em;
            top: 0.1em;
            position: relative;
            margin-right: 1em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
        }

        &:checked {
            +label::before {
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                box-shadow: inset 0 0 0 4px rgb(255, 255, 255);
            }
        }
    }

}

/*toogle buttons*/



.toggle {
    display: flex;

    .toggle__items {
        position: relative;
        display: inline-block;
        width: 3.75em;
        margin-bottom: 1.1em;
        height: 1.8em;

        .checkbox__toggle {
            display: none;

            +label {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                border-radius: 34px;
                border: 1px solid $colorDS25;
                bottom: 0;
                background-color: rgb(255, 255, 255);
                transition: .4s;
            }

            +label::before {
                position: absolute;
                content: "";
                height: 1.1em;
                width: 1.1em;
                border-radius: 50%;
                border: 1px solid $colorDS25;
                left: 2px;
                bottom: 3px;
                background-color: $colorDS25;
                transition: .4s;
            }

            &:checked+label {
                border: 1px solid $colorP;
            }

            &:checked+label::before {
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

                transform: translateX(26px);
            }
        }
    }

    & {
        span {margin-left: 1em;}
    }
}

/*like buttons*/
._likebuttons{
    flex-direction: row;
}


.likebuttons_items{
position: relative;
margin-right: 1.2em;
   
       
    .likebuttons_btn{
        
        display: none;
    
        + label{
            border-radius: 26px;
            width: 4em;
            display: inline-block;
            position: relative;
            height: 2.1em;
            color: $colorDS25;
            background: #fff;
            border: 2px solid $colorDS25;
        }
       + label::before{
            content: '\2661';
            position: absolute;
            left:22%;
            top: 16%;
       }

       &:checked+label {
        border: 2px solid $colorP;
    }
    &:checked+label::before {
       content: '\2764';
       color: $colorP;
    }
    
    & + label > span{
       
    position: absolute;
    left: 52%;  
    top: 17%;

       }   
       &:checked + label > span{
       
        color: $colorP;
    
           }      
    }
}

/*rating buttons*/

.ratebuttons{
display: flex;
.ratebuttons_items{
margin-right: 1.2em;
     .ratebutton_btn {
         display: none;
         

         + label {
             float: right;
             cursor: pointer;
             font-size: 32px;
             line-height: 32px;
             color: $colorP;
             text-shadow: 1px 1px #bbb;
         }

         + label:before {
             content: '\2606';
         }

         &:checked ~ label::before {
             content: '\2605';
             color: $colorP;
         }

         + label:active {
             position: relative;
         }

     }

    }
}


/*right block*/
/*range slider*/
.range__slider{
    .range__slider-btn{
        width: 100%;
       
    }
    &::-ms-track{
        background: $colorGg;
    }
}

/*buttons*/

.buttons__items {
    position: relative;
    .buttons__btn {
        padding: 1.8em;
        border-radius: 2.3em;
        font: 700 0.6em/0.9em $font-fam;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
    }

    &>._btn-buttons {
        background: $colorGp;
        border: 0;

        &+.btn-two {
            opacity: 0.5;
            margin-left: 1.2em;
        }

    }

    &>._btn-buttons_one {
        border: 1px solid $colorP;
        background: none;
        margin-top: 1.8em;
        color: $colorP;

        &+.btn-four {
            border: 1px solid (rgba(187, 156, 255, 0.502));
            margin-left: 1.2em;
        }
    }

    &>._btn-buttons_two {
        border: none;
        background: none;
        margin-top: 1.8em;
        color: $colorP;

        &+.btn-sex {
            color: rgba(31, 32, 65, 0.5);
            ;
        }
    }

    &>._btn-buttons_three {
        border: none;
        background: $colorGp;
        width: 100%;
        &+.btn-seven {
            color: rgba(31, 32, 65, 0.5);
           
        }
        &+.buttons__btn-arrow::before{
            position: absolute;
            content: url(/images/arrow_forwrd.svg);
            left: 287px;
            top: 11px;
            }

    }


}

/*pagination*/
 
.input__pagination{
    ul{
        display: flex;
        padding: 0;

        &> li{
            flex: 0 1 40px;
            display: flex;
            align-items: center;
            border-radius: 22px;
            justify-content: center;
            height: 40px;
            
            &> a{
                font: 700 $font-h3;
                text-decoration: none;
                color: $colorDS50;
                &>span::before{
                    content: url(/images/arrow_forwrd.svg);

                    }
            }
           
           
        }
        &>li:hover{
            background: $colorGp;
            &>a:hover{
                color: rgb(255, 255, 255);
            }
        }
        &>li:first-child{
            background: $colorGp;
            &:first-child>a{
                color: rgb(255, 255, 255);
            }
        }
        &>li:last-child{
            background: $colorGg;
        
        }
    }
    .bold{
        font: 400 0.8em/1.2em $font-fam;
        color: $colorDS70;
    }
}


/*middle_block part2*/
/*input select*/
.select_items{
    border: 1px solid $colorDS50;
    border-radius: 4px;
    
.select-btn{
    border: none;
}

}

div.input__points-select {
    display: flex;
}

div.active {
    display: flex;
    border: 1px solid $colorDS25;
    border-radius: 4px;
}

.input__points-select .input__points-title {

    display: flex;
    flex-direction: column;
    flex: 0 0 195px;
    padding: 10px;
    text-transform: uppercase;

    span {
        font: 700 $font-h3;
        margin-bottom: 28px;
    }
}

.input__points-select .input__points-btn {
    display: flex;
    margin-top: 5px;

    &>.btn__ {
        border: 1px solid $colorDS25;
        background: rgb(255, 255, 255);
        height: 30px;
        flex: 0 0 30px;
        border-radius: 50px;

    }

    &>.title_2 {
        flex: 0 0 30px;
        border: none;
        padding-top: 5px;
        text-align: center;
    }
    &>.title_3 {

        flex: 0 0 30px;
        border: none;
        padding-top: 5px;
        text-align: center;
   
    }
    &>.title_1 {
      
        flex: 0 0 30px;
        border: none;
        padding-top: 5px;
        text-align: center;
    
    }
}

.input__title {
    display: flex;
    justify-content: space-between;
    color: $colorDS50;
    text-transform: uppercase;
    font: 400 $font-h3;

    .bold {
        font: 700 $font-h3;
        color: $colorDS100;
    }
}

a.btn_7 {
    color: $colorP;
    font: 700 $font-h3;
    text-decoration: none;
    display: flex;
    text-transform: uppercase;
    margin-top: 30px;
}

/*всякие штуки*/
.checkbox__btn{
    .bold{
        color: $colorDS100;
        font: 700 14px/1.1em $font-fam;
    }
    .checkbox__text{
        font: 400 12px/1em $font-fam;
        color: $colorDS50;
        width: 71%;
        margin-left: 2.8em;
    }
}

.input__select{
    ul{
        &>li{
            list-style-type: none;
            font:400 14px/24px $font-fam;
            color: $colorDS70;
           
        }
        &>li::before{
            content: '\25CF';
            color: $colorDS25;
            margin-right: 0.6em;
        }
    }
}

/*emodji icon*/
.smail {
    display: flex;
    margin-bottom: 1.2em;


    .smail__item {
        flex: 0 1 320px;
      

        &>.smail__title {
            display: flex;
        }

        .smail__text {
            font: 400 14px/24px $font-fam;
            color: $colorDS70;
            display: flex;
            flex-direction: column;
            margin: 0 0 10px 20px;

            &>.bold {
                font: 700 14px/24px $font-fam;
                color: $colorDS70;
            }

        }

        i {
            font-size: 3em;
            color: $colorP;
        }
        hr{
            height: 1px;
            border: none;
            background: $colorDS5;
        }
    }
}


/*feedback*/


.feedback{
    display: flex;
    .feedback__item{

   
    &>  .feedback__title{
        display: flex;
        font: 400 14px/24px $font-fam;
          color: $colorDS70;
          align-items: center;
      
    }
    &>.feedback__text{
        display: flex;
        font: 400 14px/24px $font-fam;
        color: $colorDS70;
    }
}

}
.-text{
    display: flex; 
    flex-direction: column;
    &>.bold{
        font-weight: 700;
        }
}

.__img{
    display: flex;   
    flex-direction: column;
}